@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*overflow: hidden;*/
}

html{
    height: 100%;
    box-sizing: border-box;
}

body{
    position:relative;
    min-height: 100%;
}

/*------------------------------    Globaal    ------------------------------*/

input{
    border: 1px solid #1C4F82;
    outline: 0;
}

.bolder{
    font-weight: bolder;
}

/*------------------------------    Start navbar    ------------------------------*/

nav {
    width: 100%;
    height: 130px;
    background-color: white;
    border-bottom: 1px solid #EDEEEE;
    display: block;
}

#navWrapper {
    position: relative;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
}

nav #navLogo {
    background-image: url(../images/IMDstagram.svg);
    height: 40px;
    min-width: 125px;
    margin-top: 20px;
    margin-left: 15px;
    background-repeat: no-repeat;
    order: 1;
}

nav #searchUser{
    order: 3;
    width: 100vw;
    display: block;
}

.twitter-typeahead{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#navName{
    height: 30px;
    line-height: 28px;
    display: flex;
    padding-top: 22px;
    margin-right: 5px;
    order: 2;
}

nav .searchBarNav {
    width: 250px;
    box-sizing: border-box;
    height: 35px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 0.8rem;
    font-family: sans-serif;
    width: 90vw;
    margin: 18px auto 0 auto;
    border: 1px solid #acadad;
}

nav .searchBarNav:focus {
    border: 1px solid #1C4F82;
    outline: 0;
}

.tt-hint{
    position: inherit;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    margin-top: 17px;
    line-height: inherit;
    padding-left: 15px;
    font-size: 0.8rem;
    font-family: sans-serif;
    display: none;
}

.tt-dropdown-menu{
    width: 250px;
    font-size: 0.8rem;
    font-family: sans-serif;
    top: 0;
    background-color: #fff;
    border: 1px #EDEEEE solid;
    border-radius: 5px;
}

.tt-suggestion{
    height: 25px;
    line-height: 25px;
}

.tt-suggestion:hover{
    background-color: #1C4F82;
    color: #fff;
}

#navName a{
    color: #1C4F82;
    text-decoration: none;
}

#follower_request{
    display: block;
    background: none;
    outline: none;
    background-image: url(../images/follower_request.svg);
    border: none;
    width: 33px;
    height: 30px;
    background-size: auto 100%;
    background-repeat:no-repeat;
    margin-right: 20px;
}

#follower_request .request_amount{
    display: block;
    background-color: rgba(255, 99, 71, 0.81);
    height: 18px;
    width: 18px;
    border-radius: 18px;
    text-align: center;
    line-height: 18px;
    margin: 10px 0 0 15px;
    color: #fff;
    font-size: 0.8rem;
}

#follow_inbox{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    max-width: 800px;
    margin: auto;
    display: none;

}

#follow_inbox div{
    width: 320px;
    height: 100%;
    float: right;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #e8e8e8;
    pointer-events: auto;
}

#follow_inbox div h1{
    font-size: 1rem;
    text-align: center;
    color: #474747;
}

#follow_inbox div ul li{
    display: flex;
    justify-content: space-around;
    height: 40px;
    line-height: 40px;
    border-top: solid 1px #eeeeee;
}

#follow_inbox div ul li button {
    background: none;
    border: none;
    height: 60%;
    align-self: center;
    font-size: 0.9rem;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
}

#follow_inbox div ul li .accept{
    background-color: cornflowerblue;
}

#follow_inbox div ul li .refuse{
    border: solid 1px cornflowerblue;
    color: cornflowerblue;
}

/*------------------------------    Start index    ------------------------------*/


#createPost{
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    color: black;
    font-size: 1.1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #EDEEEE;
    border-top: 0;
}

#createPost .choosefilebutton{
    border: 0;
    width: 50%;
}

#createPost .userdescription {
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    border: 1px solid #EDEEEE;
    border-radius: 3px;
    padding: 5px;
    resize: none;
}

#createPost .userdescription:focus{
    outline: none;
}
.createPostwrapper{
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.createPostwrapper select{
    width: 40%;
    padding-left: 5px;
    box-sizing: border-box;
    border-color: #EDEEEE;
    outline: none;
}

.createPostHeader{
    color: #747474;
}

.createPostHeader:hover{
    color: #000;
}

#photoimg{
    display: none;
}
.loc{
    margin-left: 20px;
    font-size: 0.9em;
    padding-top: 5px;

}
.locIcon{
    background-image: url("../images/loc.svg");
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background-size: contain;
    text-indent: -9999px;
    float: left;
    pointer-events: none;
}
.custom-file-upload {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #1d699f;
    color: #fff;
}

#createPost h2{
    width: 100%;
    display: block;
    line-height: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 1.4rem;
}

#createPost #postbutton{
    height: 40px;
    width: 55%;
    font-size: 1em;
    color: #F6F6F6;
    background-color: #1d699f;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#filter_select{
    height: 40px;
}

#createPost #postbutton:hover{
    background-color: #1C4F82;
}

#createPost #imageform{
    display: none;
    padding: 5px;
    padding-bottom: 25px;
}

.dropzone{
    background-color: #FFFFFF;
    width: 100%;
    padding: 0;
    border: 1px solid grey;
}
.index-article{
    margin-top:15px;
    padding:0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.index-article a{
    text-decoration: none;
    color: #00548C;
}

.index-article article{
    width:100%;
    background-color: #FFFFFF;
    border: 1px solid #edeeee;
    border-radius: 3px;
    margin-bottom: 3em;
}

.index-article article:last-child{
    margin-bottom: 30px;
}

.index-article article .title{

    padding:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.index-article article .title .user-info{
    display: flex;
    flex-direction: row;
    color: black;
}

.index-article article .title .user-info h3{
    font-size: medium;
    margin-left:1em;
    margin-top: 0.5em;
}
.index-article article .title h4{
    color: #A5A7AA;
    margin-top:0.5em;
}

.index-article article .image img{
    width: 100%;
    height: auto;
    display: block;
}

#pre-vieuw{
    display: none;
    width: 100%;
}

.index-article article .content{
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
}
.index-article article .content .comment{
    display: flex;
    flex-direction: row;
    word-wrap: break-word;

}
.index-article article .content .comment p{
    margin-bottom: 0;
    margin-top: 0.5em;
}
article .content .comment .username {
    color: #0A558A;
    margin-right: 0.5em;
}
.content .comment .comment-wrap{
    width: 80%;
}
.index-article article .content-footer{
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:1px solid #edeeee;
}
.index-article article .content-footer img{
    width: 28px;
}
article .content-footer .post{
    display: flex;
    width:100%;
    justify-content: center;

}
.index-article article .content-footer .post input{
    border: 0;
    width:95%;
    font-size: large;
    font-weight: lighter;
}

.profile_picture_small{
    height: 35px;
    width: 35px;
    min-width: 35px;
    border-radius: 50%;
    border:1px solid lightgrey;
    overflow:hidden;
    background-color: lightgrey;
    position: relative;
}
.profile_image{
    border-radius: 50%;
}

.placecomment{
    margin-top: -5px;
}

/*------------------------------    Report modal index.php     ------------------------------*/
.photo-reported{
    display: none;
    justify-content: center;
    width: 47%;
    margin-top: 1em;
    background-color: #DFF0D8;
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #D6E9C6;
    border-radius: 3px;

    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.photo-reported h4{
    padding-top: 1.3em;
    color: #3D773E;
}
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.modal-content-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.report a{
    cursor: pointer;
    text-transform: uppercase;

    border-radius: 3px;

    text-decoration: none;
    color: #343434;
    text-align: center;
    padding: 0.2em;
}
.report textarea:focus{
    outline:0;
}
.report p{
    margin-bottom: 1em;
}
.report textarea{
    border: #909090 solid 1px;
    border-radius: 3px;
    margin-bottom: 1.2em;
    color: #343434;
    resize: none;
    padding: 0.2em;
}
/* The Close Button */


.modal-content-btn a:hover,
.modal-content-btn a:focus {

    text-decoration: underline;
    cursor: pointer;
}

.option{
    margin-top: 5px;
    cursor: pointer;
}

.remove_img{
    position: absolute;
    display: block;
    z-index: 2;
    right: 0;
    bottom: 0;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    width: 130px;
    height: 30px;
    background-color: rgba(132, 45, 43, 0.79);
    border-top-left-radius: 2px;
}

.remove_img:hover{
    background-color: rgba(132, 21, 13, 0.79);
}

/*------------------------------    Start login.html     ------------------------------*/

#mainLogo {
    background-image: url(../images/IMDstagram.svg);
    text-indent: -9999px;
    width: 200px;
    display: block;
    height: 65px;
    margin: 30px auto 20px auto;
    background-repeat: no-repeat;
}

form p{
    margin-left: 10%;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

form p.red{
    color: tomato;
}

form p.green{
    color: green;
}

#profileMessage.green{
    border-color: green;
}

#profileMessage.green h1{
    color: green;
}

.form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.form input {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #EDEEEE;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-size: 0.8em;
    padding-left: 15px;
}

.form input:focus {
    border: 1px solid #1C4F82;
    outline: 0;
}

.form span {
    text-align: right;
    width: 80%;
    margin: 10px auto;
    display: block;
    font-size: 0.8em;
    color: darkgray;
}

.form span a {
    color: #1C4F82;
}

#loginSubmit {
    width: 80%;
    height: 35px;
    background-color: #1C4F82;
    color: white;
    font-size: 0.9em;
}

#loginSubmit:hover {
    background-color: #36699C;
}

.fb_iframe_widget {
    margin: -5px 40px;
    float: left;
}

/*------------------------------    Start registreer.php     ------------------------------*/

.registerForm {
    width: 100%;
}

.registerForm input {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #EDEEEE;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-size: 0.8em;
    padding-left: 15px;
}

.registerForm span {
    text-align: right;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 0.8em;
    color: darkgray;
}

.registerForm span a {
    color: #1C4F82;
}

#registerSubmit {
    width: 80%;
    height: 35px;
    background-color: #1C4F82;
    color: white;
    font-size: 0.9em;
}
.registerForm #tb_username{
    margin-right:0;
}
.registerForm #loadingImage {
    display: none;
    margin-left: -2em;
    margin-bottom: -0.2em;
}
.registerForm #correctImage {
    display: none;
    width:20px;
    margin-left: -2em;
    margin-bottom: -0.3em;
}
.registerForm #wrongImage {
    display: none;
    width: 15px;
    margin-left: -2em;
    margin-bottom: -0.2em;
}


/*------------------------------    Start profile page     ------------------------*/

.profile_page{
    height: auto;
    overflow: hidden;
}

.profile_banner{
    color: #3d3d3d;
}

.profile{
    display: flex;
    margin-bottom: 10px;
    padding: 30px 20px 0 20px;
}

.profile_picture{
    height: 77px;
    width: 77px;
    min-width: 77px;
    border-radius: 50%;
    border:1px solid lightgrey;
    overflow:hidden;
    background-color: lightgrey;
    position: relative;
}

.profile_image{
    margin: -3%;
    height: 106%;
    width: 106%;
    position: absolute;
    text-indent: -9999px;
}

.profile_image_button{
    position: absolute;
    margin: -3%;
    height: 106%;
    width: 106%;
    opacity: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 0.9rem;
}
.profile_details h2:first-child {
    font-weight: bolder;
}
.profile_image_button:hover{
    opacity: 1;
}

#profileMessage{
    width: 100%;
    height: 30px;
    border: tomato 1px solid;
    margin-top: 20px;
}

#profileMessage h1{
    width: 100%;
    margin: 0;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    font-weight: 200;
    color: tomato;
}

.profile_information{
    display: block;
    padding-left: 20px;
}

.profile_information h1{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 5px 0;
}

.edit_profile_small{
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid #EDEEEE;
}

.edit_profile_small button, .profile_information button{
    margin-left: 120px;
    background: none;
    border: solid darkgrey 1px;
    padding: 5px 10%;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 3px;
    color: darkgray;
    outline:0;
    text-transform: uppercase;
    font-family: sans-serif;
}

.profile_information div{
    display: flex;
}

.profile_information div button{
    display: none;
    margin: 0 0 5px 0;
    padding: 4px 5px;
}

.profile_information div button:hover{
    border: solid black 1px;
    color: black;
}

.edit_profile_button button:hover, .edit_profile_small button:hover{
    border: solid black 1px;
    color: black;
}

.profile_details{
    display: flex;
    flex-flow: wrap;
    max-width: 400px;
    max-height: 69px;
}

.profile_details h2{
    font-size: 0.8rem;
    margin-right: 5px;
    font-weight: 200;
}

.profile_details h2:first-child{
    font-weight: bolder;
}

.profile_details a{
    font-size: 0.9rem;
    line-height: 13px;
    text-decoration: none;
    color: #0A558A;
}

.user_numbers{
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #EDEEEE;
    margin-top: 0;
}

.user_numbers li span{
    font-weight: bolder;
    display: block;
}



#change_profilephoto, #edit_profile, #single_post{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background:rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 5;
}

#single_post{
    position: fixed;
}

#change_profilephoto a, #edit_profile a, #single_post a{
    text-decoration: none;
    color: #00548C;
}

#single_post article{
    background-color: #fff;
    max-width: 600px;
    height: 100%;
    margin: auto;
}

#single_post .user-info{
    width: 200px;
}

#single_post a.user-info{
    display: flex;
    color: #000;
    padding: 10px;
}

#single_post div h4{
    float: right;
    color: #A5A7AA;
}

#single_post a.user-info div:nth-child(2){
    width: 200px;
    text-align: left;
    margin-left: 10px;
    line-height: 37px;
}

#single_post a.exit{
    color: #000;
    padding: 10px;
}

#single_post .profile_picture_small img{
    left: 0;
}

#single_post .image img{
    width: 100%;
}

#single_post .comment{
    display: inline;
    text-align: left;
}

#single_post .comment .mess{
    margin-left: 10px;
}

#single_post .like{
    margin-top: 3px;
    height: 24px;
}

#single_post .option img{
    height: 8px;
}

#single_post .post input{
    border: none;
    padding: 10px;
}

#single_post #comment-input{
    display: flex;
}

#head-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#head-box h4{
    line-height: 30px;
}

#like-box{
    display: flex;
}

#like-box img.like{
    height: 30px;
}

#like-box .likes{
    line-height: 30px;
}

#reaction-box{
    width: 95%;
    margin: auto;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid rgba(160, 160, 255, 0.3);
    padding: 5px;
}

#comment-box{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

a.exit{
    color: white;
    font-size: 1.3rem;
    float: right;
    margin: 5px 15px;
}

#control_panel_profile, #control_panel_profilephoto{
    width: 100%;
    max-width: 510px;
    background: #edeeee;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 300;
}

#control_panel_profile h1, #control_panel_profilephoto h1{
    font-size: 18px;
    line-height: 20px;
    height: 20px;
    padding: 20px;
    margin:0;
}

#control_panel_profilephoto h1{
    margin-bottom: 52px;
}

#control_panel_profilephoto form{
    position: relative;
    height: 0;
}

#control_panel_profile button{
    width: 80%;
    margin: auto;
    background: none;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #196b8a;
    border: none;
    color: #fff;
}

#control_panel_profile button:hover{
    background: none;
    background-color: #1a7c8a;
}

#control_panel_profile form{
    background-color: white;
}

#edit_account{
    border-bottom: solid 1px #c9cbcc;
}

#edit_account_form{
    display: flex;
    flex-direction: column;
}

#edit_profile_form .reset{
    margin: 0 auto 15px auto;
    text-align: center;
    color: #686868;
}

#edit_profile_form .reset:hover{
    background-color: #ef832c;
    color: #fff;
}

#edit_password_form{
    display: none;
    flex-direction: column;
}

#control_panel_profile form ul li{
    display: flex;
}

#control_panel_profile form ul li div{
    display: flex;
}

#control_panel_profile form input{
    border: none;
    border-bottom: solid 1px lightgrey;
    margin-bottom: 15px;
    width:60%;
    margin-right: 10%;
}

#control_panel_profile form textarea{
    width:60%;
    margin-right: 10%;
    height: 50px;
    margin-bottom: 15px;
    resize: none;
    border: lightgray 1px solid;
}

#control_panel_profile form select{
    margin-bottom: 15px;
    border-color: lightgray;
}

#private_setting{
    width: auto !important;
    margin-top: 3px;
}

#control_panel_profile form p{
    margin: 0;
    text-align: left;
    display: block;
    width: 25%;
    padding-left: 5%;
}

#edit_password{
    cursor: pointer;
    color: #6C6C6C;
}

#edit_profile_form{
    overflow: hidden;
}

#edit_profile_form ul{
    margin-top: 15px;
}

#edit_password_form ul{
    margin-top: 15px;
}

#edit_password_form{
    overflow: hidden;
}

#edit_password_form p{
    width: 35% !important;
}

#edit_password_form input{
    width: 50% !important;
}

#upload_foto{
    z-index: 2;
    top: -44px;
    width: 100%;
    height: 44px;
    background-color: blue;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    opacity: 0;
}

#upload_foto_cover{
    background: red;
    top: -44px;
    height: 44px;
    width: 100%;
    line-height: 44px;
    font-size: 17px;
    position: absolute;
    background: #fff;
    color: #125688;
    border-top: solid 1px #c9cbcc;
    border-bottom: solid 1px #c9cbcc;
    font-weight: 300;
}

#upload_foto:hover + #upload_foto_cover{
    color: #fff;
    background: #125688;
}

#control_panel_profile a, #control_panel_profilephoto a{
    display: block;
    width: 100%;
    height: 44px;
    background: #fff;
    line-height: 44px;
    color: tomato;
    font-size: 17px;
    border-top: solid 1px #c9cbcc;
    border-bottom: solid 1px #c9cbcc;
}

#control_panel_profile a:hover, #control_panel_profilephoto a:hover{
    color: red;
}

.error_edit_profile{
    background-color: tomato;
    font-size: 0.8em;
    width: 80%;
    padding: 5px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    border-radius: 2px;
}

button.follow_button{
    min-width: 90px;
    color: #125688;
    border-color: #125688;
}

button.follow_button.verzonden{
    cursor: default;
}

button.follow_button.verzonden:hover{
    border-color: #125688 !important;
}

button.follow_button.verzonden:hover{
    border-color: green;
    color: #125688;
}

button.follow_button:hover{
    color: green;
    border-color: green;
    mix-width: 90px;
}

button.follow_button.following{
    color: green;
    border-color: green;
}

button.follow_button.following:hover{
    color: darkgreen;
    border-color: darkgreen;
}

.privateAccount{
    text-align: center;
    margin-top: 50px;
    color: #1C4F82;
}

#location_select{
    display: flex;
    margin: 5px 0 8px 0;
}

#location_select{
    margin-top: 7px;
}

#location_select p{
    margin: 3px 0 0 5px;
}

/*------------------------------    Start profile page     ------------------------*/

.profile_images{
    max-width: 780px;
    margin: auto;
    padding: 50px 0;
    font-size: 0.8rem;
    justify-content:flex-start;
    display: flex;
    flex-wrap: wrap;
}

.profile-user-img-block{
    width: 250px;
    height:250px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    background-color: rgba(153, 186, 214, 0.39);
}
.profile-user-img-block img{
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.like{
    cursor: pointer;
}

.profile-user-img-block img{
    cursor: pointer;
}

@media screen and (min-width: 415px) {
    .edit_profile_button, .follow_button{
        display: none;
    }
    .profile{
        margin: 0;
    }
    .profile_information{
        margin-top: -10px;
    }
    .profile_information div button{
        display: block;
        margin-left: 50px;
    }

    .profile_information h1{
        width: 100px;
    }

    .profile_images{
        padding-top: 50px;
        border-radius: 3px;
    }

    .edit_profile_small button{
        display: none;
    }
}

@media screen and (min-width: 735px) {
    .profile_banner{
        max-width: 825px;
        margin: auto;
    }

    .profile_banner h1{
        font-size: 2rem;
        width: 200px;
        margin-bottom: 25px;
        line-height: 25px;
    }

    .profile_information{
        width: 100%;
        margin-top: 15px;
        padding-left: 100px;
    }



    .profile_details{
        max-width: 100%;
    }

    .profile_banner h2, .profile_banner a{
         font-size: 1rem;
         margin-bottom: 5px;
     }

    .profile_banner a{
        line-height: 20px;
    }

    .profile_picture {
        height: 150px;
        width: 150px;
        min-width: 150px;
        margin-top: 15px;
        -ms-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    .user_numbers{
        padding-top: 0;
        padding-left: 120px;
        justify-content: flex-start;
        border: none;
        margin-left: 154px;
        font-size: 1rem;
        margin-top: -60px;
    }

    .user_numbers li{
        margin-right: 35px;
    }

    .user_numbers li span{
        display: inline;
    }

    .profile_information button{
        height: 30px;
    }

    .profile_images{
        padding-top: 100px;
    }
}
/*------------------------------    Loader btn     ------------------------------*/
.btn-loadmore{
    background-image: url(../images/loadmorebuttonhover.svg);
    height: 90px;
    font-size: 0.9rem;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    display:table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.btn-loadmore span{
    color: #01579B;
    display:table-cell;
    padding-top: -2px;
    vertical-align:middle;
    padding-left: 9px;
    cursor: pointer;
}

/*------------------------------    Tag page     ------------------------------*/

.tagTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tagTitle .posts{
    display: flex;
    flex-direction: row;
}
.tagTitle h1{
    font-weight: 200;
    color: #5D5E62;
}
.tagTitle .posts h2{
    color: #303234;
    font-size: medium;
}
.tagTitle .posts p{
    color: #303234;

}


/*------------------------------    Start footer     ------------------------------*/

footer {
    color: #A9A9A9;
    height: 70px;
    opacity: 0;
}

footer span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: #4b4f54;
    line-height: 10px;
}

footer span:first-child {
    color: #1C4F82;
    line-height: 40px;
}


/*------------------------------    Media queries     ------------------------------*/

@media screen and (min-width: 600px) {

    .form {
        margin-top: 100px;
        width: 400px;
        background-color: white;
        border-radius: 3px;
        border: 1px solid #EDEEEE;
    }

    nav {
        height: 70px;
    }

    nav #navLogo {
        order: 1;
    }

    nav #searchUser{
        order: 2;
        width: auto;
    }

    #navName{
        order: 3;
    }

    nav .searchBarNav{
        width: 250px;
        border-color: #EDEEEE;
    }

    .registerForm {
        width: 400px;
        background-color: white;
        border-radius: 3px;
        border: 1px solid #EDEEEE;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }


    #createPost h2{
        text-align: center;
    }

    #createPost{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
    }
    #locationCheckBox{
        margin-right: 5px;
        margin-top: 5px;
    }
    .index-article article {
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .tt-hint{
        display: block;
    }

    #change_profilephoto, #edit_profile{
        position: fixed;
    }

    #control_panel_profile, #control_panel_profilephoto{
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .remove_img{
        display: none;
    }

     .profile-user-img-block:hover > .remove_img{
        display: block;
    }

     #single_post .image{
         max-height: 450px;
     }

    #single_post .image img{
        height: 450px;
        width: auto;
    }

    .edit_profile h1{
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 1000px) {
    #single_post article{
        display: flex;
        height: auto;
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 5px 5px 5px;
        border-radius: 3px;
    }
    #single_post article .main_info{
        height: auto;
    }
    #single_post article .exit{
        position: absolute;
        margin-left: -40px;
        right: 0;
        margin-top: -2px;
    }
    #single_post article .content{
        margin-top: 57px;
        padding: 0 10px;
        min-width: 300px;
    }


    #single_post #head-box{
        padding: 0;
        margin-bottom: 5px;
    }

    #like-box .likes{
        margin-left: 5px;
    }

    #reaction-box{
        min-height: 360px;
    }
}

@media screen and (max-width: 800px) {
    .profile_images {
        max-width: 520px;
    }
}
@media screen and (max-width: 1100px) {
    .modal-content{
        width:60%;
    }
}

@media screen and (max-width: 540px) {
    .profile_images {
        max-width: 260px;
    }

    #createPost h2{
        font-size: 1rem;
    }
    .modal-content{
        width:80%;
    }
}